<h1 align="center">Liste des responsable</h1>

<div class="table-responsive">
	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr>
				<th style="text-align: center">Mail</th>
				<th style="text-align: center">Password</th>
			</tr>
		</thead>
		<tbody ng-repeat="resp in responsables |orderBy:'mail_resp'">
			<tr>
				<td>{{resp.mail_resp}}</td>
				<td>{{resp.password_resp}}</td>
				<td><a ng-click="deleteLien(resp.id_resp)">Supprimer</a></td>
			</tr>

		</tbody>

	</table>

</div>