<h1 align="center">Liste des biens</h1>

<div class="table-responsive">
<h2 align="center">Liste des biens disponibles à l'achat</h2>
	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr>
				<th style="text-align: center">Type</th>
				<th style="text-align: center">Prix d'achat</th>
				<th style="text-align: center">Etat</th>
				<th style="text-align: center">Disponibilite</th>
				<th style="text-align: center">Revenu cadastral</th>
				<th style="text-align: center">Categorie</th>
				<th style="text-align: center">Proprietaire</th>
			</tr>
		</thead>
		<tbody ng-repeat="bienAch in biensAchete">
			<tr>
				<td>{{bienAch.type_bien}}</td>
				<td>{{bienAch.prixAchat}}</td>
				<td>{{bienAch.etat}}</td>
				<td ng-switch="bienAch.disponibilite"><p ng-switch-when="true">disponible</p><p ng-switch-when="false">indisponible</p></td>
				<td>{{bienAch.revenuCadastral}}</td>
				<td>{{bienAch.bCategorie.typeBien}}</td>
				<td>{{bienAch.bProprietaire.nom_prop}}</td>
				<td><a ng-click="deleteLien(bienAch.id_bien)">Supprimer</a></td>
			</tr>

		</tbody>

	</table>

</div>


<div class="table-responsive">
<h2 align="center">Liste des biens disponibles à la location</h2>
	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr>
				<th style="text-align: center">Type</th>
				<th style="text-align: center">Caution</th>
				<th style="text-align: center">Loyer</th>
				<th style="text-align: center">Charges</th>
				<th style="text-align: center">Disponibilite</th>
				<th style="text-align: center">Revenu cadastral</th>
				<th style="text-align: center">Categorie</th>
				<th style="text-align: center">Proprietaire</th>
				<th style="text-align: center">Opérations</th>
			</tr>
		</thead>
		<tbody ng-repeat="bien in biensLoue">
			<tr>
				<td>{{bien.type_bien}}</td>
				<td>{{bien.cautionLoc}}</td>
				<td>{{bien.loyerMensuel}}</td>
				<td>{{bien.charges}}</td>
				<td ng-switch="bien.disponibilite"><p ng-switch-when="true">disponible</p><p ng-switch-when="false">indisponible</p></td>
				<td>{{bien.revenuCadastral}}</td>
				<td>{{bien.bCategorie.typeBien}}</td>
				<td>{{bien.bProprietaire.nom_prop}}</td>
				<td><a ng-click="deleteLien(bien.id_bien)">Supprimer</a></td>
			</tr>

		</tbody>

	</table>

</div>