
<h1 style="margin-left: 130px">Ajouter un bien</h1>

<form class="form-horizontal">


	<div style="text-align: left; padding-left: 20px">
		<form class="form-horizontal">
			<div class="radio">

				<label> <input type="radio" name="optionsRadios"
					id="optionsRadios1" value="false" ng-model="bienForm.hab0_Com1">
					Habitation
				</label>
			</div>
			<div class="radio">
				<label> <input type="radio" name="optionsRadios"
					id="optionsRadios2" value="true" ng-model="bienForm.hab0_Com1">
					Commercial
				</label>

			</div>
		</form>
		</span> <br /> <span
			style="margin-top: -75px; margin-left: 150px; position: absolute;">
			<form class="form-horizontal">
				<div class="radio">
					<label> <input type="radio" name="optionsRadios"
						id="optionsRadios3" value="false" ng-model="bienForm.loc0_Ach1"
						ng-click="hide()"> A Louer
					</label>
				</div>
				<div class="radio">
					<label> <input type="radio" name="optionsRadios"
						id="optionsRadios4" value="true" ng-model="bienForm.loc0_Ach1"
						ng-click="hide2()"> A acheter
					</label>
				</div>
			</form>
		</span> <br /> <span
			style="margin-top: -95px; margin-left: 300px; position: absolute;">
			<form class="form-horizontal">
				<div class="radio">
					<label> <input type="radio" name="optionsRadios"
						id="optionsRadios5" value="false"
						ng-model="bienForm.disponibilite"> Non Disponible
					</label>
				</div>
				<div class="radio">
					<label> <input type="radio" name="optionsRadios"
						id="optionsRadios6" value="true" ng-model="bienForm.disponibilite">
						Disponible
					</label>
				</div>
			</form>
		</span>
	</div>
	<br />


	<div class="form-group">
		<label for="inputPopulation" class="col-sm-3 control-label">Revenu
			Cadastral</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="nomID"
				placeholder="Revenu
			Cadastral" ng-model="bienForm.revenuCadastral">
		</div>

	</div>

	<br />
	<div style="text-align: left">
		<div class="form-group">
			<label for="inputPopulation" class="col-sm-3 control-label">Type
				de bien</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="typeID"
					placeholder="Type
				de bien" ng-model="bienForm.type_bien">
			</div>

		</div>
	</div>

	<br /> <br /> <br />

	<div class="form-group">

		<label for="inputPopulation" class="col-sm-3 control-label">Date
			d'inscription</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="adresseID"
				placeholder="date" ng-model="bienForm.inscription">
		</div>

	</div>

	<br /> <br />

	<div class="form-group" ng-show="boll">

		<label for="inputPopulation" class="col-sm-3 control-label">Caution
			Locative</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="cautionID"
				placeholder="Caution
			Locative" ng-model="bienForm.cautionLoc">
		</div>
		<br /> <br />
	</div>


	<div class="form-group" ng-show="boll">
		<label for="inputPopulation" class="col-sm-3 control-label">Loyer
			Mensuel</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="cautionID"
				placeholder="Loyer
			Mensuel" ng-model="bienForm.loyerMensuel">
		</div>
		<br /> <br />
	</div>


	<div class="form-group" ng-show="boll">
		<label for="inputPopulation" class="col-sm-3 control-label">Charges</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="chargeID"
				placeholder="Charges" ng-model="bienForm.charges">
		</div>
		<br />
		<br />
	</div>




	<div class="form-group" ng-show="boll2">

		<label for="inputPopulation" class="col-sm-3 control-label">Prix
			Achat</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="prixAchatID"
				placeholder="Prix
			Achat" ng-model="bienForm.prixAchat">
		</div>
		<br /> <br />
	</div>


	<div class="form-group">

		<label for="inputPopulation" class="col-sm-3 control-label">Numero
			du Proprietaire</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="numPropID"
				placeholder=">ID
			du Proprietaire" ng-model="bienForm.num_prop">
		</div>

	</div>
	<br /> <br /> <br ng-show="boll" />
	<div ng-show="boll2">
		<br /> <label for="inputPopulation" class="col-sm-3 control-label">Etat</label>
		<div class="col-sm-4">
			<select class="form-control" ng-model="bienForm.etat">
				<option>A Restaurer</option>
				<option>Correct</option>
				<option>Impeccable</option>
			</select>
		</div>
		<br /> <br /> <br />
	</div>

	<label for="inputPopulation2" class="col-sm-3 control-label">Catégorie
		du bien</label>
	<div class="col-sm-4">
		<select class="form-control" ng-model="bienForm.nom_categorie">
			<option>Terrain vide</option>
			<option>T1</option>
			<option>T2</option>
			<option>T3</option>
			<option>T4</option>
			<option>T5</option>
		</select>
	</div>
	<br /> <br /> <br /> <br />
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
			<button type="submit" class="btn btn-default"
				ng-click="ajouterBien()" style="margin-left: 100px;">Ajouter
				le bien</button>
		</div>
	</div>

</form>

