

<h1 style="margin-left: 130px"">Modifier un bien</h1>

<br/>
<br/>
<form class="form-horizontal">

	<div class="form-group" style="text-align: left;margin-left: -120px;">
		<label for="inputId" class="col-sm-3 control-label">Id du
			bien</label>
		<div class="col-sm-3" style="margin-left: 90px;">
			<input type="number" class="form-control" id="iDID"
				placeholder="id du bien" ng-model="bienModif.id_bien">
		</div>

	<br />
	<br/>
	
<span style="padding-left: 200px;position: absolute">
	<form class="form-horizontal">
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				id="optionsRadios3" value="false" ng-model="bienModif.loc0_Ach1" ng-click="hide()">
				A Louer
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				id="optionsRadios4" value="true" ng-model="bienModif.loc0_Ach1" ng-click="hide2()">
				A acheter
			</label>
		</div>
	</form>
</span>
	<br />
<span style="margin-top: -20px;margin-left: 350px;position: absolute;">
	<form class="form-horizontal">
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				id="optionsRadios5" value="false" ng-model="bienModif.disponibilite">
				Non Disponible
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				id="optionsRadios6" value="true" ng-model="bienModif.disponibilite">
				Disponible
			</label>
		</div>
	</form>
</span>
</div>
	<br />
	<br/>


	<div class="form-group">
		<label for="inputPopulation" class="col-sm-3 control-label">Revenu
			Cadastral</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="nomID"
				placeholder="Revenu
			Cadastral" ng-model="bienModif.revenuCadastral">
		</div>

	</div>
	
<br/>
<div style="text-align: left">
	<div class="form-group">
		<label for="inputPopulation" class="col-sm-3 control-label">Type
			de bien</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="typeID" placeholder="Type
			de bien"
				ng-model="bienModif.type_bien">
		</div>

	</div>
</div>

<br/>
<br/>
<br/>

	<div class="form-group">

		<label for="inputPopulation" class="col-sm-3 control-label">Date
			d'inscription</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="adresseID"
				placeholder="date" ng-model="bienModif.inscription">
		</div>

	</div>

<br/>
<br/>

	<div class="form-group" ng-show="boll">

		<label for="inputPopulation" class="col-sm-3 control-label">Caution
			Locative</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="cautionID"
				placeholder="Caution
			Locative" ng-model="bienModif.cautionLoc">
		</div>
<br/>
	<br/>
	</div>
	

	<div class="form-group" ng-show="boll">
		<label for="inputPopulation" class="col-sm-3 control-label">Loyer
			Mensuel</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="cautionID"
				placeholder="Loyer
			Mensuel" ng-model="bienModif.loyerMensuel">
		</div>
<br/>
<br/>
	</div>


	<div class="form-group" ng-show="boll">
		<label for="inputPopulation" class="col-sm-3 control-label">Charges</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="chargeID"
				placeholder="Charges" ng-model="bienModif.charges">
		</div>
<br/><br/>
	</div>




	<div class="form-group" ng-show="boll2">

		<label for="inputPopulation" class="col-sm-3 control-label">Prix
			Achat</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="prixAchatID"
				placeholder="Prix
			Achat" ng-model="bienModif.prixAchat">
		</div>
<br/>
<br/>
	</div>


	<div class="form-group">

		<label for="inputPopulation" class="col-sm-3 control-label">Numero
			du Proprietaire</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="numPropID"
				placeholder="Numero
			du Proprietaire" ng-model="bienModif.num_prop">
		</div>

	</div>
<br/>
<br/>
<br ng-show="boll"/>
<div  ng-show="boll2">
<br/>

	 <label for="inputPopulation" class="col-sm-3 control-label"
		>Etat</label><div class="col-sm-4"> <select class="form-control"
		ng-model="bienModif.etat">
		<option>A Restaurer</option>
		<option>Correct</option>
		<option>Impeccable</option>
	</select> 
	</div>
		<br/>
	<br/>
	<br/>
	</div>

	<label for="inputPopulation2" class="col-sm-3 control-label"
		>Catégorie du bien</label>
		<div class="col-sm-4"><select class="form-control"
		ng-model="bienModif.typeBien" >
		<option>Terrain vide</option>
		<option>T1</option>
		<option>T2</option>
		<option>T3</option>
		<option>T4</option>
		<option>T5</option>
	</select> </div> <br />

<br/>
<br/>
<br/>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
			<button type="submit" class="btn btn-default"
				ng-click="modifierBien()" style="margin-left: 100px;">Modifier le bien</button>
		</div>
	</div>

</form>

