<h1 align="center">Modifier un proprietaire</h1>

<br/>
<form class="form-horizontal" style="margin-left: 100px">

<div class="form-group">
		<label for="inputNomPays" class="col-sm-4 control-label">Id
			du proprietaire</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="nomID"
				placeholder="Id du propriétaire" ng-model="proprietaireModif.id_prop">
		</div>
	</div>
	<div class="form-group">
		<label for="inputNomPays" class="col-sm-4 control-label">Nom
			du proprietaire</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="nomID"
				placeholder="Nom" ng-model="proprietaireModif.nom_prop">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPopulation" class="col-sm-4 control-label">Adresse du proprietaire</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="adresseID"
				placeholder="adresse" ng-model="proprietaireModif.adresse_prop">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPopulation" class="col-sm-4 control-label">Telephone prive</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="priveID"
				placeholder="telephone prive" ng-model="proprietaireModif.telephonePrive_prop">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPopulation" class="col-sm-4 control-label">Telephone Travail</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="travailID"
				placeholder="telephone travail" ng-model="proprietaireModif.telephoneTravail_prop">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPopulation" class="col-sm-4 control-label">Mot de passe</label>
		<div class="col-sm-4">
			<input type="password" class="form-control" id="mdpID"
				placeholder="mot de passe" ng-model="proprietaireModif.password_prop">
		</div>
	</div>
	<br/>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default" ng-click="modifierProp()">Modifier le proprietaire</button>
		</div>
	</div>
</form>